body {
  margin: 0;
  background-color: aliceblue;
  font-family: sans-serif;
}

main {
  /* space for nav */
  margin-left: 250px;
}

section {
  border-top: 15px solid white;
  box-sizing: border-box;
  height: 400px;
  color: white;
}

html>body>main>#first-banner {
  background-color: red;
  height: 600px;
  background-image: url(../images/creamcarport.webp);
  width: 100%;
  background-size: 100%;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-top: none;
}

.image-wrapper {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
}

#second-banner .image-wrapper {
  background-image: url(../images/shed1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 15px solid white;
}

#third-banner .image-wrapper {
  background-image: url(../images/shed2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 15px solid white;
}

.text-wrapper {
  height: 100%;
  width: 60%;
  font-size: 2em;
  background-color: rgb(0, 77, 179);
  text-align: center;
}

.text-wrapper p {
  margin-top: 50px;
  text-transform: capitalize;
}

#second-banner,
#third-banner {
  display: flex;
}