body {
  margin: 0;
  background-color: aquamarine;
  font-family: sans-serif;
}

main {
  /* space for nav */
  margin-left: 250px;
}

html > body > main > #first-banner {
  background-color: red;
  height: 600px;
  background-image: url(../images/creamcarport.webp);
  width: 100%;
  background-size: 100%;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#third-banner {
  height: 1000px;
}